::selection {
  color: blue;
  background: none;
}

body {
  background: url('https://scontent.fsgn5-12.fna.fbcdn.net/v/t1.6435-9/75642417_154241185939667_3263669966611677184_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_ohc=TgRehf45hkcAX8C6Di6&_nc_ht=scontent.fsgn5-12.fna&oh=00_AfAWYUtSIjMeVcQXY35zM41o5L0-8U6SD_AALn4sNm0Lfw&oe=64EF397E');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Oswald';
}

h1 {
  text-align: center;
  font-family: 'Abril Fatface';
  font-size: 48px;
  color: black;
}

h2 {
  width: 40%;
  margin: 20px auto;
  text-align: right;
  font-family: 'Dancing Script';
  padding: 0 200px;
  font-size: 32px;
  color: black;
}

h3 {
  text-align: center;
  font-size: 24px;
  color: black;
}

.hd {
  text-align: left;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0 0 0 20px;
}

.wrapper {
  width: 400px;
  margin: 40px auto;
  padding: 20px 30px;
  border-radius: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.wrapper textarea {
  padding: 10px;
  width: 300px;
  margin: 10px auto;
  display: block;
  resize: none;
  border-radius: 5px;
  border: 2px solid lavender;
  background: none;
  color: black;
}

.controls,
.finish {
  padding: 0 20px;
  margin: 20px auto;
  display: block;
  border-radius: 5px;
}

#add_class {
  width: 100px;
  display: inline-block;
  background: limegreen;
}

#del_class {
  width: 100px;
  float: right;
  background: red;
}

#submit {
  width: 150px;
  display: block;
  background: blue;
}

#add_class,
#del_class,
#submit {
  padding: 10px;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  color: white;
  background-image: linear-gradient(rgb(0 0 0/50%) 0 0);
  background-blend-mode: lighten;
}

#add_class:hover,
#del_class:hover,
#submit:hover {
  background-blend-mode: darken;
}

.tenmon {
  padding: 10px;
  margin: 20px 10px;
  width: max-content;
  display: block;
  border-radius: 5px;
  border: none;
  background: white;
  text-align: center;
  color: black;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.tenmon.active {
  background: powderblue;
}

.cuc,
#but {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mon {
  margin: 10px 5px;
  font-size: 0.8rem;
  border-spacing: 0px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  color: black;
  background: white;
}

.mon tr>td {
  border-bottom: 2px solid lavender;
}

.mon td {
  width: 65px;
  font-family: 'CMUTypewriterTextRegular';
  padding: 5px;
  text-align: center;
  background-color: white;
}

.mon tr:first-child {
  background: powderblue !important;
}

.mon tr:first-child>td {
  font-size: 1rem;
  height: 40px;
  background-color: powderblue;
  border: none;
  font-weight: bold;
}

.mon td:hover,
.tenmon:hover {
  filter: brightness(90%);
}

.haspopup {
  background-color: ghostwhite !important;
}

.haspopup.show:hover {
  filter: none;
}

.haspopup.show .popup {
  transform: translate(-50%, -50%) scale(1);
  z-index: 999;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  border-radius: 5px;
  width: max-content;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

#cover {
  position: fixed;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#note {
  width: 95%;
  margin: 5px auto;
  text-align: left;
  font-style: italic;
}
